<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>Graduation</title>
    <meta th:replace="fragments/header"/>
</head>
<body>
<div th:replace="fragments/nav"></div>
<div id="container" class="container">
    <h2>Graduation</h2>
    <p>You need to pay any outstanding course and library fees before you are eligible to graduate.</p>
    <p>Your current status is: <span th:text="${message}"></span>.</p>
    <p th:if="${balanceOutstanding}">Please log into the Payment Portal to pay your outstanding balance.</p>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>