<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up to Student Portal</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/signin.css}">
</head>
<body>
<div id="container">
    <form class="form-signin" th:action="@{/register}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <h2 class="form-signin-heading">User Registration</h2>
        <p>
            <label for="username">Username: </label>
            <input id="username" type="text" th:field="*{userName}" class="form-control" required/>
        </p>
        <p>
            <label for="email">E-mail: </label>
            <input id="email" type="email" th:field="*{email}" class="form-control" required/>
        </p>
        <p>
            <label for="password">Password: </label>
            <input id="password" type="password" th:field="*{password}" class="form-control"
                   required minlength="6" maxlength="10"/>
        </p>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
    </form>
</div>
</body>
</html>